protobuf
transformers
cpm_kernels
torch
mdtex2html
sentencepiece
accelerate
sse-starlette
streamlit
arrow
scipy
transformers_stream_generator
tiktoken
einops
pathlib
peft
pydantic
fastapi
uvicorn
auto-gptq
optimum